.btn {
  padding: 10px 30px;
  color: #eeeeee;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.btn:hover {
  opacity: 0.9;
}

.btn-primary {
  background-color: #393e46;
}

.btn-secondry {
  background-color: #bf8958;
}

.btn-outline{
  background: transparent;
  border: 1px white solid;
}

.btn-outline:hover {
  opacity: 0.8;
}